@media only screen and (max-width: 600px){
    /* easy-mode layout sizing */
    * {
        box-sizing: border-box;
    }

    /* set all columns to full-width */
    #wrapper, #col_right, #col_mid, nav, footer {
        width: 100%;
        margin: 0px auto 5px auto;
    }
    
    nav img {
        display: block;
        float: none;
        width: 30%;
        height: 30%;
    }

    /* slideshow styling */
    #slideshow {
        height: 540px;
        width: 100%;
    }
    #slide_info {
        margin-top: 340px;
        position: static;
        float: left;
        text-align: center;
    }
    #slide_img img{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    #student_photos img {
        width: 100%;
    }
    #unit_info h2 {
        float: left;
        width: 100%;
    }
}

@media only screen and (max-width: 330px){
    #slide_img img{
        width: 100%;
    }

}
