body{
    font-size: 16px;
    font-family: Arial, sans-serif;
}
/*
#col_left{
    background-color: lightgrey;
}
#col_mid{
    background-color: rgb(20, 107, 248);
}
#col_right{
    background-color: lightgoldenrodyellow;
}
*/
.column{
    float:left;
    margin:10px;
    width:300px;
    padding:0px;
}
#wrapper{
    width: 1020px;
    margin: 0 auto;
    padding: 0px;
}
footer{
clear:both;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0 auto;
margin-right: 0 auto;
text-align: center;
}