body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.cell {
    border: 2px solid red;
    margin-bottom: 20px;
}

#cell8 {
    margin-bottom: 0px;
}

#wrapper {
    min-width: 200px;
}

@media (min-width: 420px) {
    .cell {
        float: left;
        width: 50%;
        margin-right: 20px;
    }

    #wrapper {
        padding-left: 20px;
    }

    .cell:nth-child(odd) {
        margin-left: -20px;
        clear: left;
    }

    .cell:nth-child(even) {
        margin-right: 0px;
    }

    #cell7,
    #cell8 {
        margin-bottom: 0px;
    }
}

@media (min-width:840px) {
    .cell {
        float: left;
        width: 25%;
        margin-right: 20px;
    }

    #wrapper {
        padding-left: 60px;
    }

    .cell:nth-child(2n+0) {
        margin-right: 20px;
    }

    .cell:nth-child(4n+0) {
        margin-right: 0px;
    }

    .cell:nth-child(2n+1) {
        margin-left: 0px;
        clear: none;
    }

    .cell:nth-child(4n+1) {
        margin-left: -60px;
        clear: left;
    }

    #cell5,
    #cell6,
    #cell7,
    #cell8 {
        margin-bottom: 0px;
    }
}